langchain
langgraph
fastapi
python-dotenv
python-multipart
pydantic
langchain-google-genai
langchain-groq
pymongo
langchain-mongodb
langchain_core
langchain-community
langgraph.checkpoint.mongodb
ipython
uvicorn
aiofiles

