fastapi
uvicorn
python-dotenv
python-multipart
pydantic
aiofiles

pandas
openpyxl
xlrd
lxml
html5lib
tabulate

langchain
langgraph
langchain-core
langchain-community
langchain-groq
langchain-google-genai

pymongo
langchain-mongodb
langgraph-checkpoint-mongodb
